.cam
  = image_tag cam.uri
  .location
    = "#{cam.name}: #{cam.address}"
  %ul.edit
    %li
      = link_to edit_admin_cam_path(cam) do
        %i.glyphicon.glyphicon-cog
    %li
      = link_to admin_cam_path(cam), :method => :delete, :data => { :confirm => 'Are you sure?' } do
        %i.glyphicon.glyphicon-remove
