.page-header
  %h2
    Traffic Cameras
    %a.btn.btn-primary.active.pull-right{ :href => admin_cams_path } Tumbnails
    %a.btn.btn-primary.active.pull-right{ :href => admin_cams_map_path } Map
    %a.btn.btn-primary.active.pull-right{ :href => new_admin_cam_path } + New Cam

%table.table
  %tr
    %th Name
    %th Address
    %th Latitude
    %th Longitude
    %th Uri
    %t
    %th
    %th

  - @cams.each do |cam|
    %tr
      %td= cam.name
      %td= cam.address
      %td= cam.latitude
      %td= cam.longitude
      %td= cam.uri
      %td
        = link_to edit_admin_cam_path(cam), :class => "btn btn-default btn-xs active" do
          %i.glyphicon.glyphicon-cog
      %td
        = link_to admin_cam_path(cam), :method => :delete, :class => "btn btn-danger btn-xs active", :data => { :confirm => 'Are you sure?' } do
          %i.glyphicon.glyphicon-remove
