= form_for @dashboard,  html: {class: 'form-inline', role: 'form', id: 'dashboard_form'} do |f|
  = f.hidden_field :camera_ids, id: 'camera_ids', value: ''
  %h1
    .form-group
      = f.text_field :name, placeholder: "Enter dashboard name here...", class: "form-control input-lg", value: @dashboard.name
    %span.km
    %span.min
    %span.camera_count.small
    %span.small traffic cameras en route

  .form-group
    = f.fields_for :point_a do |l|
      = l.text_field :address, placeholder: "From", class: "form-control input-lg", value: @dashboard.point_a.address, id: 'origin_address'
      = l.hidden_field :marker, value: 'A'
      = l.hidden_field :latitude, id: 'origin_latitude'
      = l.hidden_field :longitude, id: 'origin_longitude'
  .form-group
    = f.fields_for :point_b do |l|
      = l.text_field :address, placeholder: "To", class: "form-control input-lg", value: @dashboard.point_b.address, id: 'destination_address'
      = l.hidden_field :marker, value: 'B'
      = l.hidden_field :latitude, id: 'destination_latitude'
      = l.hidden_field :longitude, id: 'destination_longitude'
  .form-group
    = f.submit 'Save', class: "btn btn-primary btn-lg", type: "button", id: "save_dashboard"
    = link_to 'Cancel', "#{@dashboard.id ? dashboard_path(@dashboard) : dashboards_path}",
        type: 'button', class: "btn btn-default btn-lg"
    = f.submit '', style: "visibility:hidden;", id: "update_route"
