.page-header
  %h2
    My Dashboards
    %a.btn.btn-primary.btn-lg.active.pull-right{ :href => new_dashboard_path } Add Dashboard

%table.table.table-primary
  %tr
    %th Name
    %th From
    %th To
    %th Cams
    %th

  - @dashboards.each do |d|
    %tr
      %td= d.name
      %td= d.point_a.address
      %td= d.point_b.address
      %td= d.cams.count
      %td
        = link_to 'Show', dashboard_path(d), class: "btn btn-primary"
        = link_to 'Destroy', d, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"

%br

= link_to 'New Dashboard', new_dashboard_path
