.page-header
  %a.btn.btn-primary.active.pull-right{ :href => dashboards_path } All Dashboards
  %a.btn.btn-primary.active.pull-right{ :href => edit_dashboard_path(@dashboard) } Edit This

  %h1
    = @dashboard.name
    %span.km
    %span.min
    %span.camera_count.small
    %span.small traffic cameras en route

  = form_for @dashboard,  html: {class: 'form-inline', role: 'form'} do |f|
    .form-group
      = f.text_field :point_a, placeholder: "From", class: "form-control input-lg", value: @dashboard.point_a.address
    .form-group
      = f.text_field :point_b, placeholder: "To", class: "form-control input-lg", value: @dashboard.point_b.address
    .form-group
      %button.btn.btn-primary.btn-lg{data: {toggle: 'modal', target: '#submit'}, type: 'button'} Save
      = f.submit '', style: "visibility:hidden;", id: "save"

  %p#notice= notice

#submit.modal.fade{role: 'dialog', tabindex:"-1"}
  .modal-dialog
    .modal-content
      = form_for @dashboard,  html: {role: 'form', id: 'dashboard_form'} do |f|
        = f.hidden_field :camera_ids, id: 'camera_ids', value: ''
        .modal-body
          %button.close{data:{dismiss:'modal'}} &times;
          %h2.modal-title Save Dashboard
          .form-group
            = f.text_field :name, placeholder: "Dashboard Name", class: "form-control input-lg", value: @dashboard.name
          .form-group
            %h4 From:
            = f.fields_for :point_a do |l|
              = l.text_field :address, placeholder: "From", class: "form-control input-lg", id: 'origin_address'
              = l.hidden_field :latitude, id: 'origin_latitude'
              = l.hidden_field :longitude, id: 'origin_longitude'

          .form-group
            %h4 To:
            = f.fields_for :point_b do |l|
              = l.text_field :address, placeholder: "To", class: "form-control input-lg", id: 'destination_address'
              = l.hidden_field :latitude, id: 'destination_latitude'
              = l.hidden_field :longitude, id: 'destination_longitude'
          %h4
            This route passes through
            %span.camera_count
            traffic cameras.
          .form-group
            = f.submit 'Save', class: "btn btn-primary btn-lg btn-block"

#app-body
  #map
  #sidebar

= include_gon
:javascript

  $(function(){

    var m = $('#map').dashboard({
      origin: new google.maps.LatLng(gon.origin.lat, gon.origin.lng),
      destination: new google.maps.LatLng(gon.destination.lat, gon.destination.lng),
      markers: gon.markers,

      on_route_ready: function(event, data){
        $('.km').text(': '+(data.distance/1000).toFixed(2)+'km');
        $('.min').text('/ '+(data.duration/60).toFixed(2)+'min');
        if (data.origin.address) {
          $('input#dashboard_point_a').val(data.origin.address);
          $('input#origin_address').val(data.origin.address);
          $('input#origin_latitude').val(data.origin.location.lat());
          $('input#origin_longitude').val(data.origin.location.lng());
        }
        if (data.destination.address) {
          $('input#dashboard_point_b').val(data.destination.address);
          $('input#destination_address').val(data.destination.address);
          $('input#destination_latitude').val(data.destination.location.lat());
          $('input#destination_longitude').val(data.destination.location.lng());
        }
      },

      on_markers_ready: function(event, data){
        var onpath_cameras = data.onpath,
            count = onpath_cameras.length,
            htmls = onpath_cameras.map(function(c) {return c.data}),
            onpath_camera_ids = $.map(onpath_cameras, function(c){return c.id}).join(',');
        $('.camera_count').text(count);
        $('#sidebar').empty().append(htmls);
        $('input#camera_ids').val(onpath_camera_ids);
      }
    });

    // load contents to dashboard form
    $('input#save').click(function(event){
      var origin_address = $('input#dashboard_point_a').val(),
          destination_address = $('input#dashboard_point_b').val();

      m.dashboard( 'new_route', origin_address, destination_address );
      $('input#origin_address').val(origin_address);
      $('input#origin_latitude').val(null);
      $('input#origin_longitude').val(null);

      $('input#destination_address').val(destination_address);
      $('input#destination_latitude').val(null);
      $('input#destination_longitude').val(null);

      event.preventDefault();
    })

    // submit dashboard form
    $('#dashboard_form').on('submit',function(e){
      var $form = $(this);
      $.ajax({
        type: $form.attr('method'),
        url: $form.attr('action'),
        data: $form.serialize(),
        dataType: 'json',
        success: function(data,status,jqXHR) {
          var redirect = jqXHR.getResponseHeader('X-Xhr-Redirected-To');
          if (redirect) {
            window.location.href = redirect;
          }
        }
      });
      e.preventDefault();
    });

  });
