.page-header
  %a.btn.btn-primary.btn-lg.active.pull-right{ href: edit_dashboard_path(@dashboard)} Edit

  %h1
    = @dashboard.name
    %span.km
    %span.min
    %span.camera_count.small
    %span.small traffic cameras en route

  %h4
    %span.small From
    = format_address(@dashboard.point_a.address)
    %span.small to
    = format_address(@dashboard.point_b.address)

  %p#notice= notice

= render partial: 'gui', locals: { draggable: false }
