%p#notice= notice

%p
  %b Name:
  = @dashboard.name
%p
  %b User:
  = @dashboard.user_id

- @cams.each do |c|
  = render partial: 'admin/cams/cam', locals: {cam: c}

= link_to 'Edit', edit_dashboard_path(@dashboard)
\|
= link_to 'Back', dashboards_path
