.page-header
  %a.btn.btn-primary.active.pull-right{ href: dashboards_path } All Dashboards
  %a.btn.btn-primary.active.pull-right{ href: edit_dashboard_path(@dashboard)} Edit

  %h1
    = @dashboard.name
    %span.km
    %span.min
    %span.camera_count.small
    %span.small traffic cameras en route

  %h3
    = @dashboard.point_a.address
    = @dashboard.point_b.address

  %p#notice= notice

= render partial: 'gui', locals: { draggable: false }
