%nav.navbar.navbar-fixed-top.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle{"type" => "button", "data-toggle" => "collapse", "data-target" => "#grp1"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href=>'#'} Dash

    #grp1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{:href=>'#','data-toggle'=>'dropdown'}Administration
          %ul.dropdown-menu
            %li
              %a{ :href => admin_members_path } Members
            %li
              %a{ :href => admin_cams_path } Traffic Snapshots

      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{:href=>'#','data-toggle'=>'dropdown'}= current_user.email
            %ul.dropdown-menu
              %li= link_to 'Sign out', destroy_user_session_path, :method => :delete
              %li= link_to 'Edit profile', edit_user_registration_path
      - else
        = link_to 'Sign up', new_user_registration_path, class: 'navbar-text navbar-right'
        = form_for 'user', url: user_session_path, html: { class: "navbar-form navbar-right"} do |f|
          .form-group
            = f.text_field :email, class: 'form-control', placeholder: 'email'
          .form-group
            = f.password_field :password, class: 'form-control', placeholder: 'password'
          %button.btn.btn-success{type: 'submit'} Sign in



